.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: blue;
  text-decoration: underline;
}

.navbar {
 display: flex;
 justify-content: space-between;
 width: 100%;
}